In [28]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv('customer.csv')

In [32]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [58]:
df.describe()

             age  purchased
count  50.000000  50.000000
mean   54.160000   0.480000
std    25.658161   0.504672
min    15.000000   0.000000
25%    30.250000   0.000000
50%    57.000000   0.000000
75%    74.000000   1.000000
max    98.000000   1.000000

In [60]:
df.shape

(50, 5)

In [62]:
df.isnull().sum()

age          0
gender       0
review       0
education    0
purchased    0
dtype: int64

In [33]:
df['review'].value_counts()

review
Poor       18
Good       18
Average    14
Name: count, dtype: int64

In [41]:
#gender=nominal-no realtion between data(OHE)
pd.get_dummies(df,columns=['gender'])

    age   review education purchased  gender_Female  gender_Male
0    30  Average    School        No           True        False
1    68     Poor        UG        No           True        False
2    70     Good        PG        No           True        False
3    72     Good        PG        No           True        False
4    16  Average        UG        No           True        False
5    31  Average    School       Yes           True        False
6    18     Good    School        No          False         True
7    60     Poor    School       Yes           True        False
8    65  Average        UG        No           True        False
9    74     Good        UG       Yes          False         True
10   98     Good        UG       Yes           True        False
11   74     Good        UG       Yes          False         True
12   51     Poor    School        No          False         True
13   57  Average    School        No           True        False
14   15     Poor        PG       Yes          False         True
15   75     Poor        UG        No          False         True
16   59     Poor        UG       Yes          False         True
17   22     Poor        UG       Yes           True        False
18   19     Good    School        No          False         True
19   97     Poor        PG       Yes          False         True
20   57  Average    School       Yes           True        False
21   32  Average        PG        No          False         True
22   18     Poor        PG       Yes           True        False
23   96     Good    School        No           True        False
24   16  Average        PG       Yes           True        False
25   57     Good    School        No           True        False
26   53     Poor        PG        No           True        False
27   69     Poor        PG        No           True        False
28   48     Poor    School        No          False         True
29   83  Average        UG       Yes           True        False
30   73  Average        UG        No          False         True
31   22     Poor    School       Yes           True        False
32   92  Average        UG       Yes          False         True
33   89     Good        PG       Yes           True        False
34   86  Average    School        No          False         True
35   74     Poor    School       Yes          False         True
36   34     Good        UG       Yes           True        False
37   94  Average        PG       Yes          False         True
38   45     Good    School        No           True        False
39   76     Poor        PG        No          False         True
40   39     Good    School        No          False         True
41   23     Good        PG       Yes          False         True
42   30     Good        PG       Yes           True        False
43   27     Poor        PG        No          False         True
44   77  Average        UG        No           True        False
45   61     Poor        PG       Yes          False         True
46   64     Poor        PG        No           True        False
47   38     Good        PG       Yes           True        False
48   39     Good        UG       Yes           True        False
49   25     Good        UG        No           True        False

In [42]:
#One_Hot_Encoding
pd.get_dummies(df,columns=['gender'],drop_first=True)

    age   review education purchased  gender_Male
0    30  Average    School        No        False
1    68     Poor        UG        No        False
2    70     Good        PG        No        False
3    72     Good        PG        No        False
4    16  Average        UG        No        False
5    31  Average    School       Yes        False
6    18     Good    School        No         True
7    60     Poor    School       Yes        False
8    65  Average        UG        No        False
9    74     Good        UG       Yes         True
10   98     Good        UG       Yes        False
11   74     Good        UG       Yes         True
12   51     Poor    School        No         True
13   57  Average    School        No        False
14   15     Poor        PG       Yes         True
15   75     Poor        UG        No         True
16   59     Poor        UG       Yes         True
17   22     Poor        UG       Yes        False
18   19     Good    School        No         True
19   97     Poor        PG       Yes         True
20   57  Average    School       Yes        False
21   32  Average        PG        No         True
22   18     Poor        PG       Yes        False
23   96     Good    School        No        False
24   16  Average        PG       Yes        False
25   57     Good    School        No        False
26   53     Poor        PG        No        False
27   69     Poor        PG        No        False
28   48     Poor    School        No         True
29   83  Average        UG       Yes        False
30   73  Average        UG        No         True
31   22     Poor    School       Yes        False
32   92  Average        UG       Yes         True
33   89     Good        PG       Yes        False
34   86  Average    School        No         True
35   74     Poor    School       Yes         True
36   34     Good        UG       Yes        False
37   94  Average        PG       Yes         True
38   45     Good    School        No        False
39   76     Poor        PG        No         True
40   39     Good    School        No         True
41   23     Good        PG       Yes         True
42   30     Good        PG       Yes        False
43   27     Poor        PG        No         True
44   77  Average        UG        No        False
45   61     Poor        PG       Yes         True
46   64     Poor        PG        No        False
47   38     Good        PG       Yes        False
48   39     Good        UG       Yes        False
49   25     Good        UG        No        False

In [43]:
#OHE Using ScikitLearn
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)
X_train.head()

    age  gender   review education
24   16  Female  Average        PG
48   39  Female     Good        UG
17   22  Female     Poor        UG
12   51    Male     Poor    School
27   69  Female     Poor        PG

In [44]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32)
X_train_new = ohe.fit_transform(X_train[['gender']])

C:\Users\acer\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [46]:
X_test_new = ohe.transform(X_test[['gender']])
X_train_new.shape

(40, 1)

In [47]:
np.hstack((X_train[['age']].values,X_train_new))

array([[16,  0],
       [39,  0],
       [22,  0],
       [51,  1],
       [69,  0],
       [89,  0],
       [59,  1],
       [70,  0],
       [57,  0],
       [15,  1],
       [73,  1],
       [31,  0],
       [92,  1],
       [68,  0],
       [83,  0],
       [74,  1],
       [23,  1],
       [97,  1],
       [94,  1],
       [98,  0],
       [16,  0],
       [18,  1],
       [72,  0],
       [57,  0],
       [53,  0],
       [45,  0],
       [32,  1],
       [30,  0],
       [22,  0],
       [86,  1],
       [60,  0],
       [25,  0],
       [74,  1],
       [19,  1],
       [27,  1],
       [18,  0],
       [65,  0],
       [61,  1],
       [75,  1],
       [39,  1]], dtype=int64)

In [48]:
##label encoding on purchase column
from sklearn.preprocessing  import LabelEncoder
le=LabelEncoder()

In [51]:
df['purchased']=le.fit_transform(df['purchased'])

In [59]:
df.head()

   age  gender   review education  purchased
0   30  Female  Average    School          0
1   68  Female     Poor        UG          0
2   70  Female     Good        PG          0
3   72  Female     Good        PG          0
4   16  Female  Average        UG          0

In [55]:
df['purchased'].value_counts()

purchased
0    26
1    24
Name: count, dtype: int64

In [56]:
df['purchased'].unique()

array([0, 1])